boxplot_by_method.png
boxplot_by_method.svg
boxplot_by_mibig.median_comparison.png
boxplot_by_mibig.median_comparison.svg
boxplot_by_type.median_comparison.png
boxplot_by_type.median_comparison.svg
boxplot_by_type.prism_figure.png
boxplot_by_type.prism_figure.svg
probas.hdf5
search_results.tsv
